/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
   
}
h1{
    width: 6em;
}
div.container{
    position: relative;
    max-width: 60em;
    margin: auto;
}
div.home-container{
  position: relative;
  max-width: 70em;
  margin: auto;
}
h2,p,nav,header{
    margin: 0.5rem;
    padding: 0em;
}
nav{
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
    margin-left: 0.5;
    
}

h2{
    margin-top: 0;  
    margin-bottom: 0;
    font-family: serif ;
    font-weight: bold;
    font-size: 3em;
    color: rgb( 68, 98, 135);
    /* margin-left: 0.2em; */
}
section.mainstory h2{
    font-size: 3em;

}
section.secondary h2{
    font-size: 1.3rem;
    
}

a{
    color: rgb( 68, 98, 135);
    text-decoration: none;
    font-family: sans-serif;
}
p{
    color: rgb(0, 0, 0);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 2em;
    font-family: sans-serif;

}

section.second h2{
    font-size: 2em;
}

section.third h2{
    font-size: 1.5em;
    border-top: solid 1px rgb( 68, 98, 135);
    padding-top: 0.5em;
}
ul li{
    list-style: none;
}

footer{
    background-color: rgb( 68, 98, 135);
    color: rgb(255, 255, 255);
    padding: 1em;
    font-size: 1em;
    font-family: sans-serif;
   
}
figcaption{
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-family: sans-serif;
}

aside{
    background-color: rgb(201, 198, 247);
    padding: 1em 0.5em 1em 0.5em;
}


@media only screen and (min-width: 35em) { 

   nav ul li{
    display: inline;
    margin-right: 1em;
    
   }
   nav{
    margin-left: 0;
   }

  
  }


@media only screen and (min-width: 60em) { 

  .home-container{
    max-width: 80em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:1em;
  }
  .container{
    max-width: 60em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:1em;
  }
  header,footer{
    grid-column: 1/3;

  }
  header{
    margin-left: 0;
    margin-bottom: 0;
  }
  .home-container main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    row-gap: 2.5em;
  }
  section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        margin-top: 0;
        display: flex;
  }
  p{
    margin-left: 0;
    padding-bottom: 0;

    
  }
  h2{
    margin-left: 0;
  }
 
  .home-container aside{
    background: none;
    padding: 0;
    margin-top: 0;
  }
  .container aside{
    margin-top: 0;
    
  }
  .container h2{
    margin-top: 0.5em;
  }
  .container p{
    margin-bottom: 2em;
  }
  
  .mainstory a{
    flex: 1 0 12em ;
    display: flex;
    flex-direction: column;
    
  }

  .mainstory a figure{
    flex: 1 0 12em;
    display: flex;
  }
  .mainstory a figure img{
    object-fit: cover;
    
  }

  .mainstory a h2{
    flex: 0 0 1em;
  }

  .mainstory a p{
    flex: 0 0 4em;
    margin-bottom: 0;
    padding-bottom: 0;
  }



  /* for secondary */

   section.second{
        margin-top: 0;
        display: flex;
  }
  p{
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h2{
    margin-left: 0;
  }
 
  .home-container aside{
    background: none;
    padding: 0;
    margin-top: 0;
  }
  
  .second  a{
    flex: 1 0 12em ;
    display: flex;
    flex-direction: column;
    
  }

  .second a figure{
    flex: 1 0 12em;
    display: flex;
  }
  .second a figure img{
    object-fit: cover;
    
  }

  .second a h2{
    flex: 0 0 1em;
    font-size: 1.5em;
  }

  .second a p{
    flex: 0 0 4em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  aside p {
    margin-bottom: 1em;
  }
}