/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
    border-radius: 7px;
   
}
body{
  background-color: rgb( 18, 24, 33);
}
h1{
    width: 6em;
    padding-top: 1em;

   
}
div.container{
    position: relative;
    max-width: 60em;
    margin: auto;
}
div.home-container{
  position: relative;
  max-width: 70em;
  margin: auto;
  
}
h2,p,nav,header{
    margin: 0.5rem;
    padding: 0em;
}
nav{
    margin-bottom: 1em;
    /* margin-top: 1em; */
    font-weight: bold;
    margin-left: 0.5;
}
.mainstory h2{
  color: rgb(240, 209, 10);
}
h2{
    margin-top: 0.5em;  
   line-height: 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
   
    font-size: 3em;
    color:  rgb(249, 244, 239);
    
}
section.mainstory h2{
    font-size: 3em;

}
section.secondary h2{
    font-size: 1.3rem;
    
}

a{
    color: rgb(240, 209, 10);
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
p{
    color: rgb(249, 244, 239);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 2em;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;

}

section.second h2{
    font-size: 2em;
}

section.third h2{
    font-size: 1.5em;
    border-top: solid 1px rgb(18, 24, 33);
    padding-top: 0.5em;
}
ul li{
    list-style: none;
    text-transform: uppercase;
    font-family: Proxima Nova;
    font-size: 1.2em;
  
}

footer{
    padding: 1em;
    color: rgb(249, 244, 239);
    font-size: 1em;
    font-family: sans-serif;
   
}
figcaption{
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-family: sans-serif;
    color: rgb( 240, 209, 10);
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 0.5em;
}

aside{
    background-color:rgb( 240, 209, 10);
    padding: 1em 0.5em 1em 0.5em;
    
}
aside p{
  color: rgb(18, 24, 33);
  padding-left: 0em;
}
aside h2{
  color: rgb(18, 24, 33);
}


@media only screen and (min-width: 35em) { 

   nav ul li{
    display: inline;
    margin-right: 1em;
   }

   nav{
    margin-left: 0;
   }
  aside{
    background-color: rgba(249, 244, 239, 0);
     padding: 0em 0em 0em 0em;
    
  }
  .secondary{
    background-color: rgb(249, 244, 239);
    padding: 0.5em;
    border-radius: 7px;
    margin-bottom: 2em;
  }
 .third{
  background-color: rgb( 249, 244, 239);
  padding: 1em;
  border-radius: 7px;
  margin-bottom: 1em;
 }

aside.secondary h2{
  color: rgb( 18, 24, 33);
}
.third h2{
  color: rgb( 18, 24, 33);
  border-top: solid 3px rgb( 18, 24, 33);
  margin-top: 0em;
}
.third p{
  color: rgb(18, 24, 33);
  
}
  figcaption{
    margin-left: 0em;
  }
footer{
  color: rgb( 240, 209, 10);
  padding-bottom: 1em;
  padding-top: 1em;
  border-top: solid 1px rgb(240, 209, 10);
  margin-top: 1em;
  padding-left: 0em;
}


  }


@media only screen and (min-width: 60em) { 

  .home-container{
    max-width: 80em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:1em;
  }
  .container{
    max-width: 60em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:1em;
  }
  header,footer{
    grid-column: 1/3;

  }
  header{
    margin-left: 0;
    margin-bottom: 0;
  }
  .home-container main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    row-gap: 2.5em;
  }
  section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        margin-top: 0;
        display: flex;
  }
  p{
    margin-left: 0;
    padding-bottom: 0;

    
  }
  h2{
    margin-left: 0;
  }
 
  .home-container aside{
    background: none;
    padding: 0;
    margin-top: 0;
  }
  .container aside{
    margin-top: 0;
    
  }
  .container h2{
    margin-top: 0.5em;
  }
  .container p{
    margin-bottom: 2em;
  }
  
  .mainstory a{
    flex: 1 0 12em ;
    display: flex;
    flex-direction: column;
    
  }

  .mainstory a figure{
    flex: 1 0 12em;
    display: flex;
  }
  .mainstory a figure img{
    object-fit: cover;
    
  }

  .mainstory a h2{
    flex: 0 0 1em;
  }

  .mainstory a p{
    flex: 0 0 4em;
    margin-bottom: 0;
    padding-bottom: 0;
  }



  /* for secondary */

   section.second{
        margin-top: 0;
        display: flex;
  }
  p{
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h2{
    margin-left: 0;
  }
 
  .home-container aside{
    background: none;
    padding: 0;
    margin-top: 0;
  }
  
  .second  a{
    flex: 1 0 12em ;
    display: flex;
    flex-direction: column;
    
  }

  .second a figure{
    flex: 1 0 12em;
    display: flex;
  }
  .second a figure img{
    object-fit: cover;
    
  }

  .second a h2{
    flex: 0 0 1em;
    font-size: 1.5em;
  }

  .second a p{
    flex: 0 0 4em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  aside p {
    margin-bottom: 1em;
    color: rgb(18, 24, 33);
  }
  
  
  /* aside h2{
    color: rgb(249, 244, 239);
  } */
}