/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
    border-radius: 7px;
   
}
body{
  background-color: rgb( 18, 24, 33);
  
}
.second img{
  margin-top: 2.5em;
}
h1{
    width: 6em;
    padding-top: 1em;
}
header{
  position: relative;
  z-index: 10;
}
div.container{
    position: relative;
    max-width: 60em;
    margin: auto;
}
div.home-container{
  position: relative;
  max-width: 70em;
  margin: auto;
  
}
h2,p,nav,header{
    margin: 0.5rem;
    padding: 0em;
}
nav{
    margin-bottom: 1em;
    /* margin-top: 1em; */
    font-weight: bold;
    margin-left: 0.5;
    /* padding-top: 1.5em ; */
}
.mainstory h2{
  color: rgb(240, 209, 10);
}
h2{
    margin-top: 0.5em;  
   line-height: 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
   
    font-size: 3em;
    color:  rgb(249, 244, 239);
    
}
section.mainstory h2{
    font-size: 3em;

}
section.secondary h2{
    font-size: 1.3rem;
    
}
nav ul li{
  padding-top: 0.5em;
}
.image{
      margin-top: 3em;
    }


.space{
  margin-top: 2em ;
}


a{
    color: rgb(240, 209, 10);
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
p{
    color: rgb(249, 244, 239);
    padding-top: 0;
    margin-top: 0;
    /* padding-bottom: 2em; */
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;

}

section.second h2{
    font-size: 2em;
}

section.third h2{
    font-size: 1.5em;
    border-top: solid 1px rgb(249, 244, 239);
    padding-top: 1em;
}
ul li{
    list-style: none;
    text-transform: uppercase;
    font-family: Proxima Nova;
    font-size: 1.2em;
  
}

footer{
    padding: 1em;
    color: rgb(249, 244, 239);
    font-size: 1em;
    font-family: sans-serif;
   
}
figcaption{
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0.5em;
    font-family: sans-serif;
    color: rgb( 240, 209, 10);
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 0.5em;
}

aside{
    /* background-color:rgb(40, 53, 71); */
    padding: 1em 0.5em 1em 0.5em;
    margin-top: 2em;
    
}
aside p{
  color: rgb(249, 244, 239);
  padding-left: 0em;
}
aside h2{
  color: rgb(249, 244, 239);
}
 .gallerylink h2{
 color: rgb( 240, 209, 10);
}

/* Gallery photos */
.gallery-block input#photo1:checked ~ .photos figure:nth-of-type(1),
.gallery-block input#photo2:checked ~ .photos figure:nth-of-type(2),
.gallery-block input#photo3:checked ~ .photos figure:nth-of-type(3),
.gallery-block input#photo4:checked ~ .photos figure:nth-of-type(4),
.gallery-block input#photo5:checked ~ .photos figure:nth-of-type(5),
.gallery-block input#photo6:checked ~ .photos figure:nth-of-type(6),
.gallery-block input#photo7:checked ~ .photos figure:nth-of-type(7),
.gallery-block input#photo8:checked ~ .photos figure:nth-of-type(8) {
  opacity: 1;
  display: block;
}
.gallery-block h2{
  margin-bottom: 0.5em;
  margin-top: 0em;
}

.gallery-block .gallery label img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.gallery-block .gallery label img:hover {
  border-color: rgb(240, 209, 10);
}
.gallery-block {
  margin: 0 0;
  
}

.gallery-block .photos {
  position: relative;
  /* aspect-ratio: 4 / 3;  */
  margin-bottom: 1em;
  margin-top: 2em;
 
  
}

.gallery-block .photos figure {
  display: none;
  margin: 0;
}

.photos{
  padding: 2em;
}
.gallery-block .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.gallery-block figcaption {
  margin-top: 0.5em;
  color: rgb(240, 209, 10);
  font-style: italic;
}

.gallery-block input {
  display: none;
}

/* Form styling */

form{
  background-color:  rgb(40, 53, 71);
  padding: 1em;
  /* border-radius: 8px; */
  margin-top: 3em;
}
.form1 label{
  text-transform: none;
  
}

section.form1 ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    width: 100%;
    padding: 0.4em;
    font-size: 1em;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    box-sizing: border-box;
}
.form1 ul {
	display: flex;
	flex-wrap: wrap;
	/* padding-left: 0em; */
}
.form1 ul li {
    flex: 0 1 22rem;
    padding: 0.3em;
    margin-left: 1.3em;
   
}

section.address ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    width: 100%;
    padding: 0.4em;
    font-size: 1em;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    box-sizing: border-box;
}
.address ul li {
  flex: 1 0 100%;
  padding: 0.4em 1.6em 0.4em 1.6em;
  margin-left: 0;
  margin-top: 0.4em;
}

section.form2 ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    width: 100%;
    padding: 0.4em;
    font-size: 1em;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    box-sizing: border-box;
}
.form2 ul {
	display: flex;
	flex-wrap: wrap;
	/* padding-left: 0em; */
  margin-left: 1em;
  margin-right: 1.8em;
  margin-top: 0.5em;
}
.form2 ul li {
    flex: 1 1 5em; 
    padding-left: 0.7em;
    /* padding-right: 0.7em; */
   
}
form button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-left: 1.6em;
  margin-top: 1.3em;
  padding: 0.3em 0.2em;
  /* background-color: rgb(18, 24, 33);  */
  background-color: rgb(240, 209, 10);
  color: rgb(18, 24, 33); 
  font-size: 1.1em;
  font-weight: bold;
  font-family: proxima-nova, sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: rgb(66, 67, 70); 
}
 ::placeholder{
  font-family: proxima-nova, sans-serif;
 }

 /* checkboxes */

.checkboxes {

  padding-left: 1.3em; 
  font-family: proxima-nova, sans-serif;
  color: rgb(240, 209, 10);
  padding-bottom: 0em;

  

}

.checkboxes p {
  font-weight: bold;
  color: rgb(240, 209, 10);
  margin-left: 0.5em;
  font-family: proxima-nova, sans-serif;
  font-size: 1.4em;
  
  margin-top: 0.7em;
}


.checkboxes label {
  display: block;
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 0.2em; 

 
}

.checkboxes input[type="checkbox"] {
  
  accent-color: rgb(240, 209, 10); 
  margin-top: 0em;
}

@media only screen and (min-width: 35em) { 

   nav ul li{
    display: inline;
    margin-right: 1em;
   }

   nav{
    margin-left: 0;
   }
  aside{
    /* background-color: rgba(249, 244, 239, 0); */
     padding: 0em 0em 0em 0em;
    
  }
  .secondary{
    /* background-color: rgb(66, 67, 70); */
    padding: 0.5em;
    border-radius: 7px;
    margin-bottom: 2em;
  }
 .third{
  /* background-color: rgb(40, 53, 71); */
  padding: 1em;
  border-radius: 7px;
  margin-bottom: 1em;
 }

 .secondary h2 {
  color:  rgb(249, 244, 239);
}
.secondary p{
  color:  rgb(249, 244, 239);
}
.third h2{
  color: rgb(249, 244, 239);
  border-top: solid 3px rgb( 240, 209, 10);
  margin-top: 0em;
}
.third p{
  color: rgb(249, 244, 239);
  
}
  figcaption{
    margin-left: 0em;
  }
footer{
  color: rgb( 240, 209, 10);
  padding-bottom: 1em;
  padding-top: 1em;
  border-top: solid 1px rgb(240, 209, 10);
  margin-top: 1em;
  padding-left: 0em;
}


}

@media only screen and (min-width: 60em) { 

  .home-container{
    max-width: 80em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:1em;
  }
  .container{
    max-width: 60em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:1em;
  }
  header,footer{
    grid-column: 1/3;

  }
  header{
    margin-left: 0;
    margin-bottom: 0;
  }
  .home-container main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    row-gap: 2.5em;
  }
  section.mainstory{
        grid-column: 2/4;
        grid-row: 1/3;
        margin-top: 0;
        display: flex;
  }
  p{
    margin-left: 0;
    padding-bottom: 0;

    
  }
  h2{
    margin-left: 0;
  }
 
  .home-container aside{
    background: none;
    padding: 0;
    margin-top: 0;
  }
  .container aside{
    margin-top: 0;
    
  }
  .container h2{
    margin-top: 0.5em;
  }
  /* .container p{
    margin-bottom: 2em;
  } */
  
  .mainstory a{
    flex: 1 0 12em ;
    display: flex;
    flex-direction: column;
    
  }

  .mainstory a figure{
    flex: 1 0 12em;
    display: flex;
  }
  .mainstory a figure img{
    object-fit: cover;
    
  }

  .mainstory a h2{
    flex: 0 0 1em;
  }

  .mainstory a p{
    flex: 0 0 4em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

    .image{
      margin-top: 3em;
    }

   
    .space{
  margin-top: 0em;
}
    .second img{
  margin-top: 0em;
}



  /* for secondary */

   section.second{
        margin-top: 0;
        display: flex;
  }
  p{
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h2{
    margin-left: 0;
  }
 
  .home-container aside{
    background: none;
    padding: 0;
    margin-top: 0;
  }
  
  .second  a{
    flex: 1 0 12em ;
    display: flex;
    flex-direction: column;
    
  }

  .second a figure{
    flex: 1 0 12em;
    display: flex;
  }
  .second a figure img{
    object-fit: cover;
    
  }

  .second a h2{
    flex: 0 0 1em;
    font-size: 1.5em;
  }

  .second a p{
    flex: 0 0 4em;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  aside p {
    margin-bottom: 1em;
    /* color: rgb(18, 24, 33); */
  }
  
  /* Form styling */

form{
  background-color:  rgb(40, 53, 71);
  padding: 1em;
  border-radius: 8px;
  margin-top: 3em;
}
.form1 label{
  text-transform: none;
  
}

section.form1 ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    width: 100%;
    padding: 0.4em;
    font-size: 1em;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    box-sizing: border-box;
}
.form1 ul {
	display: flex;
	flex-wrap: wrap;
	/* padding-left: 0em; */
}
.form1 ul li {
    flex: 0 1 15em;
    padding: 0.3em;
    margin-left: 1.3em;
   
}

section.address ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    width: 100%;
    padding: 0.4em;
    font-size: 1em;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    box-sizing: border-box;
}
.address ul li {
  flex: 1 0 100%;
  padding: 0.4em 1.6em 0.4em 1.6em;
  margin-left: 0;
  margin-top: 0.4em;
}

section.form2 ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    width: 100%;
    padding: 0.4em;
    font-size: 1em;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    box-sizing: border-box;
}
.form2 ul {
	display: flex;
	flex-wrap: wrap;
	/* padding-left: 0em; */
  margin-left: 1em;
  margin-right: 1.8em;
  margin-top: 0.5em;
}
.form2 ul li {
    flex: 1 1 5em; /* allow them to grow more */
    padding-left: 0.7em;
    /* padding-right: 0.7em; */
   
}
form button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin-left: 1.6em;  
  margin-top: 2em;
  /* background-color: rgb(18, 24, 33);  */
  background-color: rgb(240, 209, 10);
  color: rgb(18, 24, 33); 
  font-size: 1.1em;
  font-weight: bold;
  font-family: proxima-nova, sans-serif;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: rgb(66, 67, 70); 
}
 ::placeholder{
  font-family: proxima-nova, sans-serif;
 }

 /* checkboxes */

.checkboxes {

  padding-left: 1.3em; 
  font-family: proxima-nova, sans-serif;
  color: rgb(240, 209, 10);
  padding-bottom: 0em;
  
}

.checkboxes p {
  font-weight: bold;
  color: rgb(240, 209, 10);
  margin-left: 0.6em;
  font-family: proxima-nova, sans-serif;
  font-size: 1.3em;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
}


.checkboxes label {
  display:inline;
  font-size: 1.3em;
  cursor: pointer;
  padding-left: 0.2em;
  
  

 
}

.checkboxes input[type="checkbox"] {
  
  accent-color: rgb(240, 209, 10); 
  margin-top: 0em;
}


  }
  

